*~
__pycache__/
*.swp

# Mess left behind by debian packaging
/.pybuild/
/debian/.debhelper/generated/
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper
/debian/*.substvars
/debian/python3-stream-proxy/
