[Unit]
Description=Proxy for HLS & RTP streams

[Service]
Type=notify

# Python3 defaults to quite a large buffer for stdout/stderr.
# This makes the journal significantly less useful for debugging because the log messages don't appear immediately.
Environment=PYTHONUNBUFFERED=LiterallyAnyNonZeroString

ExecStart=/usr/local/bin/stream-proxy

RuntimeDirectory=%N
DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

ProtectProc=noaccess
# This might write access to /run/user/...
# but ProtectHome=tmpfs probably resolves that
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
# This seems to break AmbientCapabilities=CAP_NET_BIND_SERVICE.
# I don't understand why, but commenting it out solves the problem.
#PrivateUsers=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
# I don't know how to add UDP multicast to this list.
# Apparently I don't need to as multicast is just working with this as is.
# FIXME: Investigate why, is this even working at all?
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
# Should we really set this one? Video streaming stuff may want real time speediness
# < twb> re realtime, yes, you should restrict it.  ffmpeg lacks the privs to request RT anyway, so it is harmless
RestrictRealtime=yes
RestrictSUIDSGID=yes
# Unnecessary due to PrivateIPC=yes?
# RemoveIPC=yes
PrivateMounts=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
